<%= form_for (page.new_record? ? [@story, page] : page ), remote: local_assigns[:remote], builder: BootstrapFormBuilder do |f| %>
  <div class='form-group controls row'>
    <div class='col-sm-1'>
      <%= f.label :tag, 'Tag:' %>
    </div>
    <div class='col-sm-11'>
      <%= f.error_for :tags %>
      <%= f.text_field :tags, value: (page.new_record? ? (@story.pages - [page]).last.try(:tag_values) : page.tag_values) %>
    </div>
  </div/>
  <div class='form-group controls'>
    <%= f.error_for :content %>
    <%= f.text_area :content, class: 'summernote' %>
  </div>

  <% unless local_assigns[:no_cancel] %>
    <%= link_to 'Cancel', (page.new_record? ? story_path(@story) : page_path(page)), id: 'cancel-page-form', class: 'btn btn-default' %>
  <% end %>
  <%= f.submit unless local_assigns[:no_submit] %>
<% end %>
