<div class="page-header">
  <div class="content-title">
    <h1> <%= @story.name %> Archive </h1>
  </div>

  <div class="clearfix"></div>
</div>

<%= (admin_signed_in? ? @story.pages : @story.published_pages).find_each do |page| %>
  <hr class='archive-split' />

  <div class='row'>
    <div class='col-sm-4'>
      <%= link_to "#{page.number}) #{page.first_5_words}...", clean_page_path(@story, page.number) %>
    </div>
    <div class='col-sm-8'>
      <% if admin_signed_in? %>
        <%= form_for page, remote: true, style: 'display: inline;' do |f| %>
          <%= f.hidden_field(:published, id: "page-#{page.id}-pubfield", value: page.published? ? 0 : 1) %>
          <%= link_to page.published? ? '(unpublish)' : '(publish)', '#', id: "page-#{page.id}-publink", onclick: '$(this).closest("form").submit(); return false;' %>
        <% end %>
      <% end %>
      <% page.tags.each_with_index do |tag, i| %>
        <%= link_to tag.value, clean_story_path(@story, tag) %><% if i != page.tags.size %>,<% end %>
      <% end %>
    </div>
  </div>
<% end %>
<hr class='archive-split' />
<div style='margin-bottom: 50px;'>
</div>
