<div class='row'>
  <div class='col-sm-2'></div>

  <div class='col-sm-2'>
    <% if @story.pages.size > 1 %>
      <%= link_to 'archive', clean_contents_path(@story), class: 'btn btn-serpent' %>
    <% end %>
  </div>

  <div class='col-sm-2'>
    <h3 style='margin-top: 0;'>
      <% if @tag %>
        <%= link_to clean_page_path(@story, @page[:number]), id: 'cancel-tag-btn' do %>
          <i class='fa fa-times'></i>
        <% end %>
        <em><%= @tag %></em>
      <% end %>
    </h3>
  </div>

  <div class='col-sm-2'>
  </div>
  <div class='col-sm-2'>
    <%= link_to 'new page', new_story_page_path(@story), remote: true, class: 'btn btn-serpent' if admin_signed_in? %>
  </div>
  <div class='col-sm-2'></div>
</div>

<div class="row story-body">
  <div class="col-sm-2"></div>

  <div id="page-box" class="col-sm-8 content-box content-left">
    <div class="row">
      <div class="col-sm-11">

        <% if admin_signed_in? %>
          <% if @page.published? %>

            <%= form_for @page do |f| %>
              <%= f.hidden_field :published, value: 0 %>
              <span class='text-okay'>
                This page is visible to the public.
                <%= link_to 'Unpublish it', '#', onclick: '$(this).closest("form").submit();' %>.
              </span>
            <% end %>

          <% else %>

            <%= form_for @page do |f| %>
              <%= f.hidden_field :published, value: 1 %>
              <span class='text-error'>
                This page is not currently published.
                <%= link_to 'Publish it', '#', onclick: '$(this).closest("form").submit();' %>.
              </span>
            <% end %>
          
          <% end %>
        <% end %>

        <div id="page-content">
          <%= @page.content %>
        </div>

      </div>
      <div class="col-sm-1">
        <span id="the-page-number" class="page-number"><%= @page.number %></span>
        <%= link_to '(edit)', edit_page_path(@page), remote: true, id: 'edit-page-button' if admin_signed_in? %>
      </div>
    </div>

    <div class="row">
      <%= render 'page_arrow', direction: 'left', page: @page.previous(!admin_signed_in?) %>
      
      <%= render 'page_arrow', direction: 'right', page: @page.next(!admin_signed_in?) %>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>

<div class="row">

  <div id="inspiration-container">
    <%= render 'stories/inspiration' if admin_signed_in? || @page.blog_post_ready? %>
  </div>

</div>
