<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ENV['SITE_TITLE'] or 'PLZ SET SITE_TITLE' %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <% if Rails.env.production? %>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <% end %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <% if @story %>
      <%= auto_discovery_link_tag(:rss, clean_contents_path(@story, format: :rss)) %>
    <% end %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="<%= stories_path %>">
          <%= ENV['SITE_NAME'] or 'PLZ SET SITE_NAME' %>
        </a> -->
        <a href="<%= root_path %>">
          <%= image_tag "the-serpent-thief.png", class: 'navbar-brand', style: 'width: 637.14px; height: 176.095px; z-index: -111!important;', alt: (ENV['SITE_NAME'] or 'PLZ SET SITE_NAME') %>
        </a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% (admin_signed_in? ? Story : Story.with_pages).find_each do |story| %>

              <li>
                <% has_tags = story.tags.any? %>

                <%= link_to (story.active? ? 'Tags' : story.name), read_story_path(story.link), class: 'story-link' + (' tag-drop-hover' if has_tags).to_s %>

                <% if has_tags %>
                  <div class='story-tags dropdown'>
                    <a href='#' class='tags-dropdown' data-toggle='dropdown'></a>
                    <ul class='dropdown-menu' role='menu'>

                      <% story.tags.each do |tag| %>
                        <li role='presentation'>
                          <% if admin_signed_in? %> <div> <% end %>

                            <%= link_to tag.value, clean_story_path(story, tag), role: 'menuitem' %>
                            <% if admin_signed_in? %>
                              <% session[:return_to] = request.original_url %>
                              <%= link_to tag_path(tag), method: 'DELETE', style: 'float: right;', data: { confirm: "Destroy tag #{tag.value}? Pages will remain, but will no longer have this tag." } do %>
                                <i class='fa fa-times'></i>
                              <% end %>
                            <% end %>

                          <% if admin_signed_in? %> </div> <% end %>
                        </li>
                      <% end %>

                    </ul>
                  </div>
                <% end %>

              </li>

            <% end %>
          </ul>
          <% if @current_admin %>
            <ul class="nav navbar-nav">
              You are logged in as <%= @current_admin.email %>. <br />
              <%= link_to "Sign out", destroy_admin_session_path, method: 'DELETE' %> -
              <%= link_to "Account", edit_admin_registration_path %>
            </ul>
            <div class="clearfix"></div>
          <% end %>
        </div>
      </div>
    </div>
    <%= bootstrap_flash %>

    <div class="container">
      <%= yield %>
      
      <footer>
        <p>Banner by <%= link_to 'casebook art', 'http://thecasebookof.tumblr.com/' %>; Site by <%= link_to 'Resonious', 'https://github.com/Resonious' %><% if @story %>; <%= link_to clean_contents_path(@story, format: :rss) do %>rss <%= image_tag 'feed-icon-14x14.png', alt: 'rss feed' %><% end %><% end %></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
