<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= site_title = Story.active.try(:name) || "..." %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <% if Rails.env.production? %>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <% end %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <% if @story.try(:link) %>
      <%= auto_discovery_link_tag(:rss, clean_contents_path(@story, format: :rss)) %>
    <% end %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-inner">
        <div class='navbar-header'>
          <% if @current_admin %>
            You are logged in as <%= @current_admin.email %>. <br />
            <%= link_to "Sign out", destroy_admin_session_path, method: :delete %> -
            <%= link_to "Account", edit_admin_registration_path %>
          <% end %>
        </div>

        <ul class="nav navbar-nav">
          <% if @current_admin %>
            <li class="<%= 'active' if @stories && @webpages %>">
              <%= link_to stories_path do %>
                <i class="fa fa-gear"></i>
                Configuration
              <% end %>
            </li>
          <% end %>

          <% Story.with_pages.each do |story| %>
            <li class="<%= 'active' if story == @story %> dropdown">
              <%= link_to story.name, clean_story_path(story), style: 'float: left;' %>
              <%= link_to "##{story.name}-archive", class: 'dropdown-toggle', style: 'float: left;', data: { toggle: 'dropdown' } do %>
                <span class='caret'></span>
              <% end %>
              <span class='clearfix'></span>

              <ul class='dropdown-menu'>
                <li><%= link_to 'Archive', clean_contents_path(story) %></li>
              </ul>
            </li>
          <% end %>

          <% Webpage.with_links.each do |webpage| %>
            <li class="<%= 'active' if webpage == @webpage %>">
              <%= link_to webpage.name, webpage.path %>
            </li>
          <% end %>
        </ul>
        <div class="clearfix"></div>
      </div>
    </nav>

    <%= bootstrap_flash %>

    <div class="container">
      <div class='homepage-link logo'>
        <a href="<%= root_path %>" class='logo'>
          <%= image_tag "the-serpent-thief.png", data: { width: 842, height: 233 }, class: 'logo navbar-brand', style: 'z-index: -111!important;', alt: site_title %>
        </a>
      </div>

      <div class='clearfix'></div>

      <%= yield %>

      <footer>
        <p>Author: Robin Gallica</p>
        <p>Banner by <%= link_to 'casebook art', 'http://thecasebookof.tumblr.com/' %>; Site by <%= link_to 'Resonious', 'https://github.com/Resonious' %><% if @story %>; <%= link_to clean_contents_path(@story, format: :rss) do %>rss <%= image_tag 'feed-icon-14x14.png', alt: 'rss feed' %><% end if @story.try(:link) %><% end %></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
